# Env
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]

# Virtual envsc
venv/
.venv/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# Chroma / vector DB
chroma_db/

# Logs and caches
*.log
.pytest_cache/
.mypy_cache/

# Frontend
node_modules/
dist/
build/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db